<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{% static 'events.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
    <script src="{%static 'js/profile.js' %}"></script>
</head>

<body>
    <header style="background-color: #303030">
        <a href="/" style="text-decoration: none;">
            <h1><i class="fa-solid fa-graduation-cap" style="color: white; "></i>Alumni Connect</h1>
        </a>
        <nav>
            <a href="/">Home</a>
            <a href="https://ggits.org/">GGITS</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="{% url 'about_us' %}">About Us</a>
            {% if request.session.user_id %}
            {% if profile_pic %}
            <label for="dropdown-toggle"><img src="{{ request.session.profile_pic }}" alt="profile"
                    class="profile-pic" /></label>
            {% else %}
            <div class="profile-placeholder">
                {{ request.session.name|slice:":1"|upper }}
            </div>
            {% endif %}
            <div class="dropdown-menu">
                <a href="{% url 'myprofile' %}">My Profile</a>
                <a href="{% url 'myprofile' %}">Edit Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <a href="{% url 'signin' %}">Sign In</a>
            {%endif %}

        </nav>
    </header>

    <section class="events">
        {% for event in events %}
        <div class="event-card reunion">
            <h2>{{ event.title }}</h2>
            <p>📅 {{ event.date }} | 🕕 {{ event.time }}</p>
            <p>📍 {{ event.location }}</p>
            <p>{{ event.description }}</p>
        </div>
        {% empty %}
        <p> No Upcoming Events </p>
        {% endfor %}
    </section>
    {% if request.session.role == "Alumni" %}
    <footer class="propose-event-footer">
        <a href="{% url 'propose_event' %}" class="propose-event-button">
            🎉 Reignite Connections — Propose an Alumni Event!
        </a>
    </footer>
    {% endif %}


</body>

</html>