<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'alumni.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        <h1 class="logo">🎓 Alumni Connect</h1>
        <nav class="nav-links">
          <a href="#">Home</a>
          <a href="#">Alumni</a>
          <a href="#">Blog</a>
          <a href="#">Events</a>
          <a href="#">Edit Profile</a>
          <a style="color: red; border: 3px solid red;position: fixed;right: 20px;", href="#">Log Out</a>
        </nav>
    </header>
    <main class="container">
        <h1>🔹 Student Profile</h1>
        <div class="profile">
            <div class="image">
                <img src="https://tse2.mm.bing.net/th?id=OIP.R87PbOkdc695AAZ-_qrLYwHaHk&pid=Api&P=0&h=180" alt="student image"><h2 style="font-weight:200;">Student User
                </h2></div>
        <div class="info">
            Name <div class="name"></div>
            DOB <div class="dob"></div>
            Branch <div class="branch"></div>
            Course/ <div class="course"></div>
            Year of Graduation <div class="year"></div>
            Skills & Interests <div class="about"></div>
            LinkedIn/GitHub links <div class="links"></div>
        </div>
</div></main>
</body>
</html>