
body {
     font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #0D47A1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px; 
}
.form-container {

    background-color: white;
    padding: 25px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Title and Subtitle */
h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #0D47A1;
}

p {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

/* Radio Button Group */
.radio-group {
    display:flex;
    gap: 30px;
    margin: 10px 0;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Input Fields */
label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Two-Column Input Fields */
.input-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.Degree {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 8px;
}



.input-group div {
    flex: 1;
}
.first_name{
    width: 10rem ;
}
.graduation_year{
    width: 10rem ;
}

/* Submit Button */
button {
    width: 100%;
    padding: 10px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #c51212;
}

.error {
      background-color: #ff4c4c;
      color: white;
      border-radius: 6px;
      padding: 10px;
      margin-bottom: 15px;
      text-align: center;
    }
.success {
      background-color: #4CAF50;
      color: white;
      border-radius: 6px;
      padding: 10px;
      margin-bottom: 15px;
      text-align: center;
    }